# Sacamos el código de instituciones educativas y carreras de edu. superior y técnico

## Prepare out environment

> Importamos nuestra única librería

In [ ]:
import pandas as pd

> Instalamos **openpyxl** para poder leer, crear y modificar ficheros Excel.

In [ ]:
# install openpyxl
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
     |████████████████████████████████| 242 kB 10.2 MB/s
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9
WARNING: You are using pip version 20.1.1; however, version 22.0.4 is available.
You should consider upgrading via the '/root/venv/bin/python -m pip install --upgrade pip' command.

## Leemos nuestros excels y sacamos la información necesaria

> Creamos nuestros paths

In [ ]:
path_file_inst_educ = '/work/enaho-personas-estudios-caracteristicas-data-science/archivos_csv_complementos/ENAHO-CODIGO DE INSTITUCIONES EDUCATIVAS.xlsx'
path_carr_educ_sup_tec = '/work/enaho-personas-estudios-caracteristicas-data-science/archivos_csv_complementos/ENAHO-CLASIFICADOR DE CARRERAS DE EDUC SUPERIOR Y TECNICO PRODUCTIVAS.xlsx'

### CENTROS DE ESTUDIO

> Leemos nuestro excel **ENAHO-CODIGO DE INSTITUCIONES EDUCATIVAS**
>
> Y sacamos el sheel código y nombre

In [ ]:
df_inst_educ = pd.read_excel(io = path_file_inst_educ, sheet_name='codigos_nombres')
df_inst_educ

         codigo                                            nombres
0     160000022           Universidad Nacional Agraria de la Selva
1     160000007             Universidad Nacional Agraria La Molina
2     160000075    Universidad Nacional Amazónica de Madre de Dios
3     160000127  Universidad Nacional Autónoma Altoandina de Tarma
4     160000126     Universidad Nacional Autónoma de Alto Amazonas
...         ...                                                ...
3323  271061605  Educación Superior Artística - ESFA Diego Quis...
3324  270920231  Educación Superior Artística - ESFA Gudelia Al...
3325  271114578  Educación Superior Artística - ESFA Musica Jos...
3326  270920488  Educación Superior Artística - ESFA Richard Wa...
3327  271123488  Educación Superior Artística - ESFA Theodoro V...

[3328 rows x 2 columns]

> Renombramos el campo 'código' para hacer 'merge' mucho más facil en posteriores notebooks

In [ ]:
df_inst_educ.rename(columns = {'codigo': 'COD_CENTRO_ESTUDIOS', 'nombres': 'NOM_CENTRO_ESTUDIOS'}, inplace = True)
df_inst_educ

      COD_CENTRO_ESTUDIOS                                NOM_CENTRO_ESTUDIOS
0               160000022           Universidad Nacional Agraria de la Selva
1               160000007             Universidad Nacional Agraria La Molina
2               160000075    Universidad Nacional Amazónica de Madre de Dios
3               160000127  Universidad Nacional Autónoma Altoandina de Tarma
4               160000126     Universidad Nacional Autónoma de Alto Amazonas
...                   ...                                                ...
3323            271061605  Educación Superior Artística - ESFA Diego Quis...
3324            270920231  Educación Superior Artística - ESFA Gudelia Al...
3325            271114578  Educación Superior Artística - ESFA Musica Jos...
3326            270920488  Educación Superior Artística - ESFA Richard Wa...
3327            271123488  Educación Superior Artística - ESFA Theodoro V...

[3328 rows x 2 columns]

### CARRERAS EDUC. SUPERIOR TÉCNICAS

> Leemos nuestro excel **ENAHO-CLASIFICADOR DE CARRERAS DE EDUC SUPERIOR Y TECNICO PRODUCTIVAS**
>
> Y sacamos el sheel código y nombre

In [ ]:
df_carr_educ_sup_tec = pd.read_excel(io = path_carr_educ_sup_tec, sheet_name='codigos_carr_educ_sup')
df_carr_educ_sup_tec

      codigo                                             nombre
0     111016               Educación Básica, Inicial y Primaria
1     111026                                  Educación Inicial
2     111036                Educación Inicial -  Niñez Temprana
3     111046                Educación Inicial -  Retardo Mental
4     111056                         Educación Inicial Bilingüe
...      ...                                                ...
1105  812033                                         Peluquería
1106  812043                      Peluquería y Belleza Personal
1107  821013  Conducción de Vehículos Motorizados y Mecánica...
1108  821023      Conducción de Vehículos y Electricidad Básica
1109  821033                        Operador de Equipos Pesados

[1110 rows x 2 columns]

> Renombramos el campo 'código' para que en posteriores hagamos 'merge' fácilmente

In [ ]:
df_carr_educ_sup_tec.rename(columns = {'codigo': 'COD_CARRERA_UNI', 'nombre': 'NOM_CARRERA_UNI'}, inplace = True)
df_carr_educ_sup_tec

      COD_CARRERA_UNI                                    NOM_CARRERA_UNI
0              111016               Educación Básica, Inicial y Primaria
1              111026                                  Educación Inicial
2              111036                Educación Inicial -  Niñez Temprana
3              111046                Educación Inicial -  Retardo Mental
4              111056                         Educación Inicial Bilingüe
...               ...                                                ...
1105           812033                                         Peluquería
1106           812043                      Peluquería y Belleza Personal
1107           821013  Conducción de Vehículos Motorizados y Mecánica...
1108           821023      Conducción de Vehículos y Electricidad Básica
1109           821033                        Operador de Equipos Pesados

[1110 rows x 2 columns]

### DEPARTAMENTOS

Cabe mencionar que se sacó del **DICCIONARIO_[anio]** de variables

- 0: Pase
- 1: Amazonas
- 2: Ancash
- 3: Apurímac
- 4: Arequipa
- 5: Ayacucho
- 6: Cajamarca
- 8: Cusco
- 9: Huancavelica
- 10: Huánuco
- 11: Ica
- 12: Junín
- 13: La Libertad
- 14: Lambayeque
- 15: Lima
- 16: Loreto
- 17: Madre de Dios
- 18: Moquegua
- 19: Pasco
- 20: Piura
- 21: Puno
- 22: San Martín
- 23: Tacna
- 24: Tumbes
- 25: Ucayali

In [ ]:
df_cod_departamentos = pd.DataFrame(
    {
        'COD_DEPARTAMENTO': [1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25],
        'NOM_DEPARTAMENTO': ["Amazonas","Ancash","Apurímac","Arequipa","Ayacucho","Cajamarca","Cusco","Huancavelica","Huánuco","Ica","Junín","La Libertad","Lambayeque","Lima","Loreto","Madre de Dios","Moquegua","Pasco","Piura","Puno","San Martín","Tacna","Tumbes","Ucayali"]
    }
)

df_cod_departamentos

    COD_DEPARTAMENTO NOM_DEPARTAMENTO
0                  1         Amazonas
1                  2           Ancash
2                  3         Apurímac
3                  4         Arequipa
4                  5         Ayacucho
5                  6        Cajamarca
6                  8            Cusco
7                  9     Huancavelica
8                 10          Huánuco
9                 11              Ica
10                12            Junín
11                13      La Libertad
12                14       Lambayeque
13                15             Lima
14                16           Loreto
15                17    Madre de Dios
16                18         Moquegua
17                19            Pasco
18                20            Piura
19                21             Puno
20                22       San Martín
21                23            Tacna
22                24           Tumbes
23                25          Ucayali

### DOMINIO GEOGRÁFICO

Cabe mencionar que se sacó del **DICCIONARIO_[anio]** de variables

- 1: Costa Norte
- 2: Costa Centro
- 3: Costa Sur
- 4: Sierra Norte
- 5: Sierra Centro
- 6: Sierra Sur
- 7: Selva
- 8: Lima Metropolitana

In [ ]:
df_cod_dominio_g = pd.DataFrame(
    {
        'DOMINIO_G': [1, 2, 3, 4, 5, 6, 7, 8],
        'NOM_DOMINIO_G': ["Costa Norte","Costa Centro","Costa Sur","Sierra Norte","Sierra Centro","Sierra Sur","Selva","Lima Metropolitana"]
    }
)

df_cod_dominio_g

   DOMINIO_G       NOM_DOMINIO_G
0          1         Costa Norte
1          2        Costa Centro
2          3           Costa Sur
3          4        Sierra Norte
4          5       Sierra Centro
5          6          Sierra Sur
6          7               Selva
7          8  Lima Metropolitana

### IDIOMA - LENGUA MATERNA

Cabe mencionar que se sacó del **DICCIONARIO_[anio]** de variables

- 1: Quechua
- 2: Aimara
- 3: Otra lengua nativa
- 4: Castellano
- 6: Portugués
- 7: Otra lengua extranjera
- 8: No escucha/no habla
- 9: Lengua de señas peruanas
- 10: Ashaninka
- 11: Awajun/Aguaruna
- 12: Shipibo-Konibo
- 13: Shawi/Chayahuita
- 14: Matsigenka/Machiguenga
- 15: Achuar

In [ ]:
df_cod_idioma = pd.DataFrame(
    {
        'COD_IDIOMA': [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
        'NOM_IDIOMA': ["Quechua","Aimara","Otra lengua nativa","Castellano","Portugués","Otra lengua extranjera","No escucha/no habla","Lengua de señas peruanas", "Ashaninka", "Awajun/Aguaruna", "Shipibo-Konibo", "Shawi/Chayahuita", "Matsigenka/Machiguenga", "Achuar"]
    }
)

df_cod_idioma

    COD_IDIOMA                NOM_IDIOMA
0            1                   Quechua
1            2                    Aimara
2            3        Otra lengua nativa
3            4                Castellano
4            6                 Portugués
5            7    Otra lengua extranjera
6            8       No escucha/no habla
7            9  Lengua de señas peruanas
8           10                 Ashaninka
9           11           Awajun/Aguaruna
10          12            Shipibo-Konibo
11          13          Shawi/Chayahuita
12          14    Matsigenka/Machiguenga
13          15                    Achuar

### GRADO ESTUDIOS

Cabe mencionar que se sacó del **DICCIONARIO_[anio]** de variables

- 1: Sin nivel
- 2: Educaion inicial
- 3: Primaria incompleta
- 4: Primaria completa
- 5: Secundaria Incompleta
- 6: Secundaria completa
- 7: Superior no universitaria incompleta
- 8: Superior no Universitaria completa
- 9: Superior Universitaria Incompleta
- 10: Superior Universitaria Completa
- 11: Maestria/doctorado
- 12: Básica especial
- 99: Missing value

In [ ]:
df_cod_grado_estudios = pd.DataFrame(
    {
        'COD_GRADO_ESTUDIOS': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 99],
        'NOM_GRADO_ESTUDIOS': ["Sin nivel", "Educaion inicial", "Primaria incompleta", "Primaria completa", "Secundaria Incompleta", "Secundaria completa", "Superior no universitaria incompleta", "Superior no Universitaria completa", "Superior Universitaria Incompleta", "Superior Universitaria Completa", "Maestria/doctorado", "Básica especial", "Missing value"]
    }
)

df_cod_grado_estudios

    COD_GRADO_ESTUDIOS                    NOM_GRADO_ESTUDIOS
0                    1                             Sin nivel
1                    2                      Educaion inicial
2                    3                   Primaria incompleta
3                    4                     Primaria completa
4                    5                 Secundaria Incompleta
5                    6                   Secundaria completa
6                    7  Superior no universitaria incompleta
7                    8    Superior no Universitaria completa
8                    9     Superior Universitaria Incompleta
9                   10       Superior Universitaria Completa
10                  11                    Maestria/doctorado
11                  12                       Básica especial
12                  99                         Missing value

### ESTADO CIVIL

Cabe mencionar que se sacó del **DICCIONARIO_[anio]** de variables

- 1: Conviviente
- 2: Casado
- 3: Viudo
- 4: Divorciado
- 5: Separado
- 6: Soltero

In [ ]:
df_cod_estado_civil = pd.DataFrame(
    {
        'ID_ESTADO_CIVIL': [1, 2, 3, 4, 5, 6],
        'NOM_ESTADO_CIVIL': ["Conviviente", "Casado", "Viudo", "Divorciado", "Separado", "Soltero"]
    }
)

df_cod_estado_civil

   ID_ESTADO_CIVIL NOM_ESTADO_CIVIL
0                1      Conviviente
1                2           Casado
2                3            Viudo
3                4       Divorciado
4                5         Separado
5                6          Soltero

## Guardamos nuestros csvs con códigos y nombres de instituciones educativas y carreras de educación superior y técnico

In [ ]:
path_inst_educ_to_save = '/work/enaho-personas-estudios-caracteristicas-data-science/archivos_csv_complementos/cod_inst_educ.csv'
path_carr_educ_sup_tec_to_save = '/work/enaho-personas-estudios-caracteristicas-data-science/archivos_csv_complementos/cod_educ_sup_tec.csv'
path_cod_departamento = '/work/enaho-personas-estudios-caracteristicas-data-science/archivos_csv_complementos/cod_departamentos.csv'
path_cod_dominio_g = '/work/enaho-personas-estudios-caracteristicas-data-science/archivos_csv_complementos/cod_dominio_g.csv'
path_cod_idioma = '/work/enaho-personas-estudios-caracteristicas-data-science/archivos_csv_complementos/cod_idioma.csv'
path_cod_grad_estudios = '/work/enaho-personas-estudios-caracteristicas-data-science/archivos_csv_complementos/cod_grad_estudios.csv'
path_cod_estado_civil = '/work/enaho-personas-estudios-caracteristicas-data-science/archivos_csv_complementos/cod_estado_civil.csv'

df_inst_educ.to_csv(path_inst_educ_to_save, index = False) # guardamos las instituciones educativas
df_carr_educ_sup_tec.to_csv(path_carr_educ_sup_tec_to_save, index = False) # guardamos las carreras superiores y tec
df_cod_departamentos.to_csv(path_cod_departamento, index = False) # guardamos los departamentos
df_cod_dominio_g.to_csv(path_cod_dominio_g, index = False) # guardamos los dominios geográficos
df_cod_idioma.to_csv(path_cod_idioma, index = False) # guardamos los idiomas nativos
df_cod_grado_estudios.to_csv(path_cod_grad_estudios, index = False) # guardamos los grados de estudio
df_cod_estado_civil.to_csv(path_cod_estado_civil, index = False) # guardamos los estados civiles

print('Files saved correctly!')

Files saved correctly!

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=61180446-cfea-4338-ac0e-81e50a732b69' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>